
@{
    ViewBag.Title = "Medicaly - Login Pharmacy";
}

<section id="loginPage" class="pt-5 pb-3">
    <div class="mx-auto mt-lg-3 mb-lg-5 shadow mb-5 bg-white rounded" style="width: 600px;">
        <section id="title">
            <div class="card-header bg-light text-center">
                <div>
                    <img src="~/App_File/Images/MedicalyImages/medicaly-logo.png" width="120" height="50">
                </div>
                <h4>Pharmacy Login</h4>
                <h8>Don't have Medicaly account? <a href="/Pharmacy/Register">Register Your Pharmacy</a></h8>
            </div>
        </section>
        <div class="card-body mb-5">
            <section id="LoginForm">
                <form id="formLoginCustomer" enctype="multipart/form-data" method="post" onsubmit="return LoginPost(this)">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="EmailPharmacy">Email Pharmacy</label>
                        <div class="col-sm-12">
                            <input type="email" class="form-control mt-2" id="EmailPharmacy" name="EmailPharmacy" placeholder="email@example.com" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="Password">Password</label>
                        <div class="col-sm-12">
                            <input type="password" class="form-control mt-2" id="Password" name="Password" placeholder="Password" maxlength="8" required>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary ps-5 pe-5">Login</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/PharmacyAuth.js"></script>
}
