
@{
    ViewBag.Title = "Medicaly - Register Pharmacy";
}

<section id="loginPage" class="pt-3">
    <div class="mx-auto mt-lg-3 mb-lg-5 shadow mb-5 bg-white rounded" style="width: 600px;">
        <section id="title">
            <div class="card-header bg-light">
                <h3>Medicaly - Register Pharmacy</h3>
                <h8>Already have Medicaly account? <a href="/Pharmacy/Login">Login</a></h8>
            </div>
        </section>
        <div class="card-body">
            <section id="RegisterForm">
                <form id="formRegisterCustomer" enctype="multipart/form-data" method="post" onsubmit="return RegisterPharmacyPost(this)">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="NamaPharmacy">Nama Apotek</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control mt-2" id="NamaPharmacy" name="NamaPharmacy" placeholder="Nama Apotek Anda " required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="EmailPharmacy">Email Apotek</label>
                        <div class="col-sm-12">
                            <input type="email" class="form-control mt-2" id="EmailPharmacy" name="EmailPharmacy" placeholder="email@example.com" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="Alamat">Alamat</label>
                        <div class="col-sm-12">
                            <textarea class="form-control mt-2" style="resize: none;" id="Alamat" rows="3" name="Alamat" placeholder="Alamat" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="NoTelephone">No Telephone</label>
                        <div class="col-sm-12">
                            <input type="tel" class="form-control mt-2" id="NoTelephone" name="NoTelephone" maxlength="10" pattern="[0-9]{10}" placeholder="No Handphones" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="NamaPIC">Nama PIC Apotek</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control mt-2" id="NamaPIC" name="NamaPIC" placeholder="Nama PIC" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="EmailPIC">Email PIC</label>
                        <div class="col-sm-12">
                            <input type="email" class="form-control mt-2" id="EmailPIC" name="EmailPIC" placeholder="email@example.com" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="Password">Password</label>
                        <div class="col-sm-12">
                            <input type="password" class="form-control mt-2" id="Password" name="Password" maxlength="8" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="FotoPharmacy">Foto Logo Apotek</label>
                        <div class="col-sm-12">
                            <input type="file" class="form-control" name="ImageUpload" id="ImageUpload" placeholder="No file chosen" required>
                        </div>
                    </div>
                    <div class="text-left mt-3">
                        <button type="submit" class="btn btn-primary ps-5 pe-5">Register</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</section>


@section scripts{
    <script src="~/Scripts/PharmacyAuth.js"></script>
}
