@model Medicaly.Models.Customer
@{
    ViewBag.Title = "Medicaly - Login";
}

<section id="loginPage" class="pt-5 pb-3">
    <div class="mx-auto mt-lg-3 mb-lg-5 shadow mb-5 mt-5 bg-white rounded" style="width: 600px;">
        <section id="title">
            <div class="card-header bg-light text-center">
                <div>
                    <img src="~/App_File/Images/MedicalyImages/medicaly-logo.png" width="120" height="50">
                </div>
                <h4>Login to Account</h4>
                <h8>Don't have Medicaly account? <a href="/Auth/Register">Register</a></h8>
            </div>
        </section>
        <div class="card-body mb-5">
            <section id="LoginForm">
                <form id="formLoginCustomer" enctype="multipart/form-data" method="post" onsubmit="return LoginPost(this)">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="Email">Email</label>
                        <div class="col-sm-12">
                            <input type="email" class="form-control mt-2" id="Email" name="Email" placeholder="email@example.com" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="Password">Password</label>
                        <div class="col-sm-12">
                            <input type="password" class="form-control mt-2" id="Password" name="Password" placeholder="Password" maxlength="20" required>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary  ps-5 pe-5">Login</button>
                        <div class="row mt-2">
                            <h8>Login sebagai Dokter/Ahli ? <a href="/Doctor/Login">Klik disini.</a></h8>
                        </div>                        
                    </div>
                </form>
            </section>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Login.js"></script>
}


