@model Medicaly.Models.Customer
@{
    ViewBag.Title = "Medicaly - Register";
}

<section id="loginPage">
    <div class="mx-auto mt-lg-3 mb-lg-5 shadow p-3 mb-5 bg-white rounded" style="width: 600px;">
        <section id="title">
            <div class="card-header bg-light">
                <h3>Medicaly</h3>
                <h8>Already have Medicaly account? <a href="/Auth/Login">login</a></h8>
            </div>
        </section>
        <div class="card-body">
            <section id="RegisterForm">
                <form id="formRegisterCustomer" enctype="multipart/form-data" method="post" onsubmit="return AjaxPost(this)">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="Nama">Nama</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control mt-2" id="Nama" name="Nama" placeholder="Nama" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="Email">Email</label>
                        <div class="col-sm-12">
                            <input type="Email" class="form-control mt-2" id="Email" name="Email" placeholder="email@example.com" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="Alamat">Alamat</label>
                        <div class="col-sm-12">
                            <textarea class="form-control mt-2" id="Alamat" name="Alamat" placeholder="Alamat" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="NoHandphone">No Handphone</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control mt-2" id="NoHandphone" name="NoHandphone" maxlength="10" pattern="[0-9]{10}" placeholder="No Handphones" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="Password">Password</label>
                        <div class="col-sm-12">
                            <input type="password" class="form-control mt-2" id="Password" name="Password" maxlength="8" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label" for="FotoProfile">Profile Picture </label>
                        <div class="col-sm-12">
                            <input type="file" class="form-control" name="ImageUpload" id="ImageUpload" placeholder="No file chosen" required>
                        </div>
                    </div>
                    <div class="text-left mt-3">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Register.js"></script>
}

